// -------- COLORS --------

$primary: #90caf9;
$secondary: #b2dfdb;
$tertiary: #ffe0b2;

$headerMain: #ef6c00;

$footerMain: #f2f2f2;
$footerText: #171f3c;

// ---- Gradiant ---

$One: #ef6c00;
$Two: #d76609;
$Three: #be5f12;
$Four: #a6591b;
$Five: #8d5224;
$Six: #754c2c;
$Seven: #5c4535;
$Eight: #443f3e;
$Nine: #2b3847;
$Ten: #133250;

$orangeLighten1: #ff9800;
$orangeLighten2: #ffa726;
$orangeLighten3: #ffb74d;
$orangeLighten4: #ffcc80;
$orangeLighten5: #ffe0b2;
$orangeLighten6: #fff3e0;