.actu{
  width: 100%;
  height: 100%;
  background-color: orange;
}

.nousEcoleJohn{
  width: 100%;
  height: 100%;
  background-color: rgb(145, 127, 92)}

.horsLesMurs{
  width: 100%;
  height: 100%;
  background-color: rgb(118, 167, 90)}

.equipe{
  width: 100%;
  height: 100%;
  background-color: rgb(92, 66, 175)}

.inscription{
  width: 100%;
  height: 100%;
  background-color: rgb(158, 98, 77)}

.events{
  width: 100%;
  height: 100%;
  background-color: rgb(63, 144, 94)}