@import './../../styles/variables.scss';

.actu{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten1;
}

.nousEcoleJohn{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten2;
}

.horsLesMurs{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten3;
}

.equipe{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten4;
}

.inscription{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten5;
}

.events{
  width: 100%;
  height: 100%;
  background-color: $orangeLighten6;
}