@import './../../styles/variables.scss';

.kart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;
  background-color: $secondary;
  color: black;
  z-index: 0;
}